# Global code owners
*       @davidoort @EPMatt @xavidop

# Plugins owners
/plugins/openai/ @Dabolus
/plugins/anthropic @Dabolus
/plugins/hnsw @retzd-tech
/plugins/milvus @zhanshuyou
/plugins/azure-openai/ @xavidop
